In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/aiswarya lenin/2019 Winter Data Science Intern Challenge Data Set - Sheet1.csv')

In [ ]:
df.head()

   order_id  shop_id  user_id  ...  total_items  payment_method           created_at
0         1       53      746  ...            2            cash  2017-03-13 12:36:56
1         2       92      925  ...            1            cash  2017-03-03 17:38:52
2         3       44      861  ...            1            cash   2017-03-14 4:23:56
3         4       18      935  ...            1     credit_card  2017-03-26 12:43:37
4         5       18      883  ...            1     credit_card   2017-03-01 4:35:11

[5 rows x 7 columns]

In [ ]:
df.shape

(5000, 7)

 average order value (AOV)

Correct way to calculate AOV is:

 To calculate the sum of the column **order_amount** divided by the sum of the column **total_items**

In [ ]:
totalItems = df['total_items'].sum()

In [ ]:
amount = df['order_amount'].sum()

In [ ]:
avgOrderVal = amount/totalItems

Correct value

In [ ]:
print(avgOrderVal)

357.92152221412965

Error in the calculation is because we are using count() instead of sum() for getting the total number of items.

**sum()** function calculates the total of all numerical values in an iterable.

**count()** will just count number of rows.

In [ ]:
totalItems1 = df['total_items'].count()

In [ ]:
avgOrderVal1 = amount/totalItems1

In [ ]:
print(avgOrderVal1)

3145.128